 .container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* .stockPicker {

}

.datePicker{

}

.addAStock {

} */

.priceTable {
/* width: 1000px; */
  margin-left: 100px;
  margin-right: 100px;
}

.mat-elevation-z8 {
  margin: 0%;
}